[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-browser-reload = "*"
django-environ = "*"
django-tailwind = "*"
pillow = "*"
psycopg2-binary = "*"
django-allauth = "*"

[dev-packages]
pycodestyle = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
